---
import MainLayout from "../../layouts/MainLayout.astro";
import BlogListSection from "../../components/BlogListSection.astro"

const pageTitle = "Blog"
---

<MainLayout {pageTitle}>
    <section id="list-blog" class="container mt-24">
        <div class="max-w-xl mx-auto">
            <BlogListSection />
            <BlogListSection />
            <BlogListSection />
        </div>
    </section>
</MainLayout>