---
import MainLayout from "../layouts/MainLayout.astro";

const pageTitle = "Book";
---

<MainLayout {pageTitle}>
  <section id="buku-rekomendasi" class="container mt-24 mb-8">
    <div class="w-full p-4 py-8 lg:p-12 bg-sky-50 rounded-2xl lg:rounded-3xl">
      <h1 class="text-3xl font-extrabold text-sky-700 mb-8 lg:mb-8">
        Book Series
      </h1>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 md:gap-16">
        <div class="space-y-4 group">
          <div class="w-full aspect-video overflow-hidden rounded-xl">
            <img
              src="/super-mario.jpg"
              alt="Super Mario"
              class="w-full h-full object-cover object-center group-hover:scale-105 transition-all ease-in rounded-xl"
            />
          </div>
          <h2
            class="text-xl md:text-2xl font-bold text-sky-700 group-hover:underline"
          >
            Membuat game super mario dengan bahasa C
          </h2>
        </div>
      </div>
    </div>
  </section>
</MainLayout>
