---
import FooterIcon from "./FooterIcon.astro"
---

<footer id="footer" class="container">
  <div class="flex justify-between items-center py-4">
    <div class="flex space-x-2">
      <FooterIcon icon="tabler:brand-github" link="https://github.com/perdiDev/" />
      <FooterIcon icon="tabler:brand-linkedin" link="https://github.com/perdiDev/" />
      <FooterIcon icon="tabler:brand-instagram" link="https://github.com/perdiDev/" />
    </div>
    <p class="font-semibold text-lg text-sky-800 dark:text-sky-100">&copy; perdi 2023</p>
  </div>
</footer>
