<button
  id="hamburger"
  name="hamburger"
  type="button"
  class="absolute right-4 block lg:hidden"
>
  <span
    class="hamburger-line origin-top-left transition duration-300 ease-in-out"
  ></span>
  <span class="hamburger-line transition duration-300 ease-in-out"></span>
  <span
    class="hamburger-line origin-bottom-left transition duration-300 ease-in-out"
  ></span>
</button>
