---
import NavMenu from "./NavMenu.astro"
import HamburgerButton from "./HamburgerButton.astro"
---

<header
  id="navbar"
  class="absolute top-0 left-0 z-10 flex w-full items-center bg-transparent"
>
  <div
    class="container relative mx-auto flex items-center justify-between py-4 font-bold text-xl"
  >
    <div
      class="w-fit h-fit py-2 px-4 rounded-xl rounded-tl-none bg-sky-700 text-white dark:bg-sky-100 dark:text-sky-800"
    >
      <h1>Perdi Dev</h1>
    </div>

    <HamburgerButton />
    <NavMenu />
  </div>
</header>
