---
import NavMenuIcon from "./NavMenuIcon.astro"
---

<nav
  id="nav-menu"
  class="absolute right-4 top-full hidden lg:w-fit rounded-lg bg-white dark:bg-sky-800 p-4 pr-8 shadow-lg shadow-sky-500 lg:pr-0 lg:p-0 lg:static lg:block lg:rounded-none lg:bg-transparent lg:shadow-none"
>
  <ul class="flex flex-col lg:flex-row gap-4 text-sky-700 dark:text-sky-100">
    <NavMenuIcon icon="tabler:smart-home" menu="Home" />
    <NavMenuIcon icon="tabler:brand-tripadvisor" menu="About" />
    <NavMenuIcon icon="tabler:category" menu="Blog" />
    <NavMenuIcon icon="tabler:book-2" menu="Book" />
    <NavMenuIcon icon="tabler:notebook" menu="Guestbook" />
  </ul>
</nav>
