---
import HomeIcon from "../assets/svg/HomeIcon.astro";
import ChessRookIcon from "../assets/svg/ChessRookIcon.astro";
import ArticleIcon from "../assets/svg/ArticleIcon.astro";
import Book2Icon from "../assets/svg/Book2Icon.astro";
import AddressBookIcon from "../assets/svg/AddressBookIcon.astro";
---

<nav
  id="nav-menu"
  class="absolute right-4 top-full hidden lg:w-fit rounded-lg bg-white dark:bg-sky-800 p-4 pr-8 shadow-lg shadow-sky-500 lg:pr-0 lg:p-0 lg:static lg:block lg:rounded-none lg:bg-transparent lg:shadow-none"
>
  <ul class="flex flex-col lg:flex-row gap-4 text-sky-700 dark:text-sky-100">
    <li class="group">
      <a
        href="/"
        class="flex gap-1 group-hover:bg-sky-50 transition-all rounded-full w-fit h-fit py-2 px-4 items-center dark:group-hover:bg-sky-600"
      >
        <HomeIcon />
        Home
      </a>
    </li>
    <li class="group">
      <a
        href="/about"
        class="flex gap-1 group-hover:bg-sky-50 transition-all rounded-full w-fit h-fit py-2 px-4 items-center dark:group-hover:bg-sky-600"
      >
        <ChessRookIcon />
        About
      </a>
    </li>
    <li class="group">
      <a
        href="/blog"
        class="flex gap-1 group-hover:bg-sky-50 transition-all rounded-full w-fit h-fit py-2 px-4 items-center dark:group-hover:bg-sky-600"
      >
        <ArticleIcon />
        Blog
      </a>
    </li>
    <li class="group">
      <a
        href="/book"
        class="flex gap-1 group-hover:bg-sky-50 transition-all rounded-full w-fit h-fit py-2 px-4 items-center dark:group-hover:bg-sky-600"
      >
        <Book2Icon />
        Book
      </a>
    </li>
    <li class="group">
      <a
        href="/guestbook"
        class="flex gap-1 group-hover:bg-sky-50 transition-all rounded-full w-fit h-fit py-2 px-4 items-center dark:group-hover:bg-sky-600"
      >
        <AddressBookIcon />
        Guestbook
      </a>
    </li>
  </ul>
</nav>
