---
import MainLayout from "./MainLayout.astro";

import HeaderBlog from "../components/HeaderBlog.astro";

const { frontmatter } = Astro.props;
---

<MainLayout pageTitle="Blog">
  <main class="container mt-24">
    <div class="p-4 lg:p-12 bg-sky-50 rounded-xl max-w-[800px] mx-auto">
      <HeaderBlog {frontmatter} />
      <article class="prose prose-sky lg:prose-xl prose-ul:marker:text-sky-800 prose-li:marker:text-sky-800">
        <slot />
      </article>
    </div>
  </main>
</MainLayout>
