---
import MainLayout from "./MainLayout.astro";

import HeaderBlog from "../components/HeaderBlog.astro";
import Prose from "../components/Prose.astro";

const { frontmatter } = Astro.props;
---

<MainLayout pageTitle="Blog">
  <main class="container mt-24">
    <div
      class="p-4 lg:p-12 bg-sky-50 rounded-xl max-w-[800px] mx-auto dark:bg-sky-800"
    >
      <HeaderBlog {frontmatter} />
      <Prose>
        <slot />
      </Prose>
    </div>
  </main>
</MainLayout>
